<p>hospitals</p>
<img src="./assets/home.webp" width="100%">

<div class="d-flex justify-content-center bg-info my-5" id="border">
    <div class="row my-4">
        <h2 class="my-4 text-light d-flex justify-content-center">Our Services</h2>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-2">
                <img src="./assets/chatbot.png" width="50" height="50">
                <h3 class="text-light">Diagnosing using chat bot</h3>
                <p class="text-light">
                    we can diagnose your disease by only few steps. <br>
                    just click here and start your journey to your health
                </p>
            </div>
            <div class="col-2">
                <img src="./assets/chat.png" width="50" height="50">
                <h3 class="text-light">Chatting with specialized doctor</h3>
                <p class="text-light">
                    you can follow up with your preferred doctor from our community
                    just click here
                </p>
            </div>




    </div>

</div>
