<div class="cnt">
    <img src="./assets/home.webp" width="100%">
    <a href="#" class="join">let's be one team. you can join us now</a>
</div>


<h1 class="my-4">Our Services</h1>

<div class="row ml-5 my-4 d-flex justify-content-center">
    <div class="col-6 my-4">
        <a href="#">
        <h3 class="txt">Diagnosing using chat bot</h3>
        </a>
        <p class="p">
            we can diagnose your disease by only few steps.<br>
            just start your journey to your health
        </p>
        <a class="btn btn-outline-info" href="#"> diagnose me </a>
    </div>
    <div class="col-4">
        <a href="#">
        <img class="srv" src="./assets/chatbot.png" alt="">
        </a>
    </div>
</div>

<div class="row ml-5 my-4 d-flex justify-content-center">
    <div class="col-6 my-4">
        <a href="#">
        <h3 class="txt">Chatting with specialized doctor</h3>
        </a>
        <p class="p">
            you can follow up with your preferred doctor from our community<br>
        </p>
        <a class="btn btn-outline-info"href="#"> call a doctor </a>
    </div>
    <div class="col-4">
        <a href="#">
        <img class="srv" src="./assets/chat.png" alt="">
        </a>
    </div>
</div>

<div class="row ml-5 my-4 d-flex justify-content-center">
    <div class="col-6 my-4">
        <a href="https://localhost:4200/hospitals">
        <h3 class="txt">Hospitals</h3>
        </a>
        <p class="p">
            let yourself know what hospitals can you go to <br>
        </p>
        <a class="btn btn-outline-info" href="https://localhost:4200/hospitals">see hospitals</a>
    </div>
    <div class="col-4">
        <a href="https://localhost:4200/hospitals">
        <img class="srv"  src="./assets/hospital.png" alt="">
        </a>
    </div>
</div>

<div class="row ml-5 my-4 d-flex justify-content-center">
    <div class="col-6 my-4">
        <a href="https://localhost:4200/pharmacies">
        <h3 class="txt">Pharmacies</h3>
        </a>
        <p class="p">
            let yourself know what Pharmacies can you go to
        </p>
        <a class="btn btn-outline-info" href="https://localhost:4200/pharmacies"> see pharmacies </a>
    </div>
    <div class="col-4">
        <a href="https://localhost:4200/pharmacies">
        <img class="srv"  src="./assets/medicine.png" alt="">
        </a>
    </div>
</div>

<div class="row ml-5 my-4 d-flex justify-content-center">
    <div class="col-6 my-4">
        <a href="https://localhost:4200/medicines">
        <h3 class="txt">Medicines</h3>
        </a>
        <p class="p">
            you must know each diseases medicines and how to use it
            it will help you get better faster
        </p>
        <a class="btn btn-outline-info" href="https://localhost:4200/medicines"> see medicines </a>
    </div>
    <div class="col-4">
        <a href="https://localhost:4200/medicines">
        <img class="srv"  src="./assets/capsules.png" alt="">
        </a>
    </div>
</div>

<!--<div class="d-flex justify-content-center bg-info my-5" id="border">
    <div class="row my-4">
        <h2 class="my-4 text-light d-flex justify-content-center">Our Services</h2>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-2">
                <img src="./assets/chatbot.png" width="50" height="50">
                <h3 class="text-light">Diagnosing using chat bot</h3>
                <p class="text-light">
                    we can diagnose your disease by only few steps. <br>
                    just click here and start your journey to your health
                </p>
            </div>
            <div class="col-2">
                <img src="./assets/chat.png" width="50" height="50">
                <h3 class="text-light">Chatting with specialized doctor</h3>
                <p class="text-light">
                    you can follow up with your preferred doctor from our community
                    just click here
                </p>
            </div>
            <div class="col-2">
                <img src="./assets/hospital.png" width="50" height="50">
                <h3 class="text-light">Hospitals</h3>
                <p class="text-light">
                    let yourself know what hospitals can you go to. <br>
                    click here
                </p>
            </div>
            <div class="col-2">
                <img src="./assets/medicine.png" width="50" height="50">
                    <h3 class="text-light">Pharmacies</h3>
                    <p class="text-light">
                        let yourself know what Pharmacies can you go to. <br>
                        click here
                    </p>
            </div>
            <div class="col-2">
                <img src="./assets/capsules.png" width="50" height="50">
                <h3 class="text-light">Medicines</h3>
                <p class="text-light">
                    you must know each diseases medicines and how to use it
                    it will help you get better faster
                    click here
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-center my-4 mr-5">
            <div class="col-3">
                <img src="./assets/join.png" width="70" height="70" class="mr-5">
                <a class="text-light" href="#" id="join">Join Our Team</a>
            </div>
        </div>
    </div>

</div>-->