<div class="navbar navbar-inverse set-radius-zero">
    <div class="container">
        <div class="navbar-header">
            <div class="col-3">
                <a class="navbar-brand" routerLink="">
                    <img src="./assets/logo11.png" class="logo"/>
                </a>
            </div>
        </div>
        <div class="right-div">
            <form class="d-flex">
                <input class="form-control me-2" #search type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info" id="search" type="submit">Search</button>
              </form>
        </div>
    </div>
</div>
